@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}


:root {
    --background-main: hsl(0, 0%, 96%);
    --purple-main: hsl(258, 90%, 66%);
    --dark-purple: hsl(273, 67%, 39%);
    --purple-light: hsl(269, 100%, 95%);
    --text-white: hsl(0, 0%, 100%);
    --text-dark: hsl(0, 0%, 10%);
    --text-gray: hsl(220, 9%, 46%);
    --border-color: hsl(220, 13%, 91%);
    --grdient-background: linear-gradient(to right,
            #FAF5FF 0%,
            #EFF6FF 50%,
            #FAF5FF 100%);
    --dropshadow-color: rgba(168, 85, 247, 0.25);
}


header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.header-left {
    display: flex;
    column-gap: 4rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}


.nav-lists li {
    list-style: none;
    display: inline-block;
    text-decoration: none;

}

.nav-lists li a {
    text-decoration: none;
    margin-right: 1rem;
    color: inherit;
}

.nav-lists li a:hover {
    text-decoration: underline;
}


.header-right {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
}

.Clear-Btn {
    background: none;
    border: 1px solid var(--border-color);
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 8px;
    color: var(--text-dark);
    cursor: pointer;
}

.Shaded-Btn {
    background: var(--purple-main);
    border: 1px solid var(--border-color);
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 8px;
    color: var(--text-white);
    font-weight: 500;
    cursor: pointer;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.AI-summary {
    border: 1px solid var(--border-color);
    border-radius: 10rem;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.1rem;
    margin-bottom: 1rem;
    background: var(--purple-light);
}

.fa-hexagon-nodes {
    color: var(--dark-purple);
    font-size: 0.9rem;
}

.AI-summary-Btn {
    background: none;
    border: none;
    color: var(--dark-purple);
    font-weight: 400;
}

.hero-heading-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.6rem;
}

.hero-heading-text h1 {
    color: var(--text-dark);
    font-size: clamp(2rem, 4vw, 3.5rem);
}

.hero-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.hero-title-text p {
    color: var(--text-gray);
    font-weight: 500;
}

.hero-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 500px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 0.8rem;
}

.hero-input-wrapper input {
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 1rem 7.5rem 1rem 1rem;
    border-radius: 8px;
    outline: none
}

.hero-input-wrapper input:focus {
    border-color: var(--dark-purple);
    box-shadow: 0 6px 18px var(--dropshadow-color);
}

.hero-input-wrapper button {
    position: absolute;
    right: 0.375rem;
    top: 50%;
    transform: translateY(-50%);
    background: var(--purple-main);
    border: none;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border-radius: 8px;
    color: var(--text-white);
    font-weight: 500;
    cursor: pointer;
}

.hero-clickables {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.clickable-content {
    display: flex;
    column-gap: 0.2rem;
}

.clickable-content p {
    color: var(--text-dark);
}

.fa-play,
.fa-file-audio,
.fa-file {
    color: var(--purple-main);
}


/* features-section */

.features {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

}

.features-top {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;

}

.features-top h2 {
    color: var(--text-dark);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 600;
}

.features-top p {
    color: var(--text-gray);
    font-weight: 500;
}


.features-dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 4rem;
}

.f-dashboard-top {
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 1rem;
}

.f-d-top-left {
    width: 70%;
    background: var(--purple-main);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 1px 2px;

}

.f-d-top-left-icon {
    margin-bottom: 0.8rem;
}

.white-nodes {
    color: var(--text-white);
    font-size: 2.5rem;
}

.f-d-top-left-midtext {
    margin-bottom: 1rem;
}

.f-d-top-left-midtext h3 {
    color: var(--text-white);
    font-weight: 500;
    font-size: clamp(1rem, 4vw, 1.6rem);
    line-height: 1.6;
    padding-bottom: 0.2rem;
}

.f-d-top-left-midtext p {
    color: var(--text-white);
    line-height: 1.4;
    font-weight: 400;
}

.f-d-top-left-ctas {
    display: flex;
    column-gap: 1rem;
}

.f-d-top-left-ctas button {
    color: var(--text-white);
    padding: 0.4rem 0.7rem;
    border-radius: 1rem;
    border: none;
    background: hsl(0, 0%, 100%, 0.2);
    font-weight: 300;
    text-align: center;

}

.f-d-top-right {
    width: 30%;
    border-radius: 1rem;
    padding: 2rem;
    border: 0.8px solid var(--border-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.f-d-top-right-icon {
    margin-bottom: 2rem;


}

.fa-bolt-lightning {
    font-size: 1.4rem;
    display: inline;
    justify-content: center;
    align-items: center;

    padding: 0.6rem;
    border-radius: 12px;
    background: hsl(214, 95%, 93%);
    color: hsl(221, 97%, 54%);

}

.f-d-top-right-midtext h4 {
    padding-bottom: 1rem;
    color: var(--text-dark);
    font-size: clamp(1.2rem, 4vw, 1.2rem);
}

.f-d-top-right-midtext p {
    color: var(--text-gray);
    font-weight: 400;
    line-height: 1.4;
}


